<h1>Activity 1 - PALMER PENGUINS DATA ANALYTICS PROJECT</h1>
<hr>
<h1>Analyst : Joshua Z. Deñado</h1>

In [1]:
import numpy as np
import pandas as pd

In [2]:
penguins = pd.read_csv('datasets\\penguins.csv')
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1>Descriptive Analytics</h1>

In [3]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [4]:
penguins.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

<h1>Cleaning the Data Frame</h1>

In [5]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [6]:
penguins['island']

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: object

In [7]:
penguins['island'] == 'Dream'

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340     True
341     True
342     True
343     True
Name: island, Length: 344, dtype: bool

In [8]:
penguins[penguins['island'] == 'Dream']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
30,Adelie,Dream,39.5,16.7,178.0,3250.0,female,2007
31,Adelie,Dream,37.2,18.1,178.0,3900.0,male,2007
32,Adelie,Dream,39.5,17.8,188.0,3300.0,female,2007
33,Adelie,Dream,40.9,18.9,184.0,3900.0,male,2007
34,Adelie,Dream,36.4,17.0,195.0,3325.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1>To get the species</h1>

In [9]:
penguins['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

<h1>Adelie</h1>

In [10]:
penguins[penguins['species'] == 'Adelie']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

<h1>Gentoo</h1>

In [11]:
penguins[penguins['species'] == 'Gentoo']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

<h1>Chinstrap</h1>

In [12]:
(penguins[penguins['species'] == 'Chinstrap'])

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [13]:
penguins['body_mass_g'] >= 4000

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Name: body_mass_g, Length: 344, dtype: bool

In [14]:
(penguins[penguins['body_mass_g'] >= 4000])

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male,2007
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007
...,...,...,...,...,...,...,...,...
323,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
329,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
333,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

In [15]:
(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000)

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Length: 344, dtype: bool

In [16]:
penguins_heavy = penguins[(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000)]
penguins_heavy

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
284,Chinstrap,Dream,46.0,18.9,195.0,4150.0,female,2007
289,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007
291,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007
295,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007
301,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007
305,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008
307,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008
309,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008
313,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008
315,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008
321,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009
323,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
329,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
333,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

In [17]:
penguins_heavy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 284 to 342
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            16 non-null     object
 1   island             16 non-null     object
 2   bill_length_mm     16 non-null     float64
 3   bill_depth_mm      16 non-null     float64
 4   flipper_length_mm  16 non-null     float64
 5   body_mass_g        16 non-null     float64
 6   sex                16 non-null     object
 7   year               16 non-null     int64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.1+ KB

<h1>How to fillup null values</h1>

In [18]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [19]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [20]:
penguins['bill_length_mm'].mean()

np.float64(43.9219298245614)

In [21]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [22]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [23]:
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [24]:
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mean())
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
dtype: int64

In [25]:
penguins['sex'].mode()

0    male
Name: sex, dtype: object

In [26]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])
penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h1>How to Change the Data Type of A Column</h1>

In [27]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

penguins['species'] = penguins['species'].astype('category')
penguins['year'] = penguins['year'].astype('category')

In [28]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

In [29]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,344.000000,344.000000,344.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.443643,1.969027,14.020657,799.613058,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.275000,15.600000,190.000000,3550.000000,2007.000000
50%,44.250000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

<h1>How to Create A Column</h1>

In [30]:
penguins.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [31]:
penguins['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [32]:
penguins['mass_kg'] = round(penguins['body_mass_g'] / 1000,1)
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.8
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.8
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.2
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.2
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.4
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.0
340,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.4
341,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.8
342,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.1
343,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.8

<h1 style="color:red;">Explanatory Data Analytics (EDA)</h1>

<h2>1. Which species is the most common or dominant?</h2>

In [33]:
penguins['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [34]:
(penguins[penguins['species'] == 'Adelie']).info()

<class 'pandas.core.frame.DataFrame'>
Index: 152 entries, 0 to 151
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            152 non-null    object
 1   island             152 non-null    object
 2   bill_length_mm     152 non-null    float64
 3   bill_depth_mm      152 non-null    float64
 4   flipper_length_mm  152 non-null    float64
 5   body_mass_g        152 non-null    float64
 6   sex                152 non-null    object
 7   year               152 non-null    int64
 8   mass_kg            152 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 11.9+ KB

In [35]:
(penguins[penguins['species'] == 'Chinstrap']).info()

<class 'pandas.core.frame.DataFrame'>
Index: 68 entries, 276 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            68 non-null     object
 1   island             68 non-null     object
 2   bill_length_mm     68 non-null     float64
 3   bill_depth_mm      68 non-null     float64
 4   flipper_length_mm  68 non-null     float64
 5   body_mass_g        68 non-null     float64
 6   sex                68 non-null     object
 7   year               68 non-null     int64
 8   mass_kg            68 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 5.3+ KB

In [36]:
(penguins[penguins['species'] == 'Gentoo']).info()

<class 'pandas.core.frame.DataFrame'>
Index: 124 entries, 152 to 275
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            124 non-null    object
 1   island             124 non-null    object
 2   bill_length_mm     124 non-null    float64
 3   bill_depth_mm      124 non-null    float64
 4   flipper_length_mm  124 non-null    float64
 5   body_mass_g        124 non-null    float64
 6   sex                124 non-null    object
 7   year               124 non-null    int64
 8   mass_kg            124 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 9.7+ KB

<p style="font-size: 16px; color:blue;">INSIGHTS: As you can see from the information given, the Adelie species is the most common among the other species with the greatest number of data entries.<p>

<h2>2. Which year had the highest population count?</h2>

In [37]:
penguins['year'].unique()

array([2007, 2008, 2009])

In [38]:
penguins['year'].mode()

0    2009
Name: year, dtype: int64

<p style="font-size: 16px; color:blue;">INSIGHTS: As you can see the year 2009 has the highest population count.</p>

<h2>3. Which species was the most common in year 2008?</h2>

In [39]:
penguins['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [40]:
(penguins[(penguins['species'] == 'Adelie') & (penguins['year'] == 2008)]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 50 to 99
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            50 non-null     object
 1   island             50 non-null     object
 2   bill_length_mm     50 non-null     float64
 3   bill_depth_mm      50 non-null     float64
 4   flipper_length_mm  50 non-null     float64
 5   body_mass_g        50 non-null     float64
 6   sex                50 non-null     object
 7   year               50 non-null     int64
 8   mass_kg            50 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 3.9+ KB

In [41]:
(penguins[(penguins['species'] == 'Gentoo') & (penguins['year'] == 2008)]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 46 entries, 186 to 231
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            46 non-null     object
 1   island             46 non-null     object
 2   bill_length_mm     46 non-null     float64
 3   bill_depth_mm      46 non-null     float64
 4   flipper_length_mm  46 non-null     float64
 5   body_mass_g        46 non-null     float64
 6   sex                46 non-null     object
 7   year               46 non-null     int64
 8   mass_kg            46 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 3.6+ KB

In [42]:
(penguins[(penguins['species'] == 'Chinstrap') & (penguins['year'] == 2008)]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, 302 to 319
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            18 non-null     object
 1   island             18 non-null     object
 2   bill_length_mm     18 non-null     float64
 3   bill_depth_mm      18 non-null     float64
 4   flipper_length_mm  18 non-null     float64
 5   body_mass_g        18 non-null     float64
 6   sex                18 non-null     object
 7   year               18 non-null     int64
 8   mass_kg            18 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 1.4+ KB

<p style="font-size: 16px; color:blue;">INSIGHTS: As you can see, the Adelie was the most common species in 2008, followed by the Gentoo, with the Chinstrap being the least common.</p>

<h2>4. Which island hosts the highest number of species?</h2>

In [43]:
penguins['island'].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [44]:
(penguins[(penguins['island'] == 'Torgersen') & (penguins['species'])]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, 0 to 131
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            52 non-null     object
 1   island             52 non-null     object
 2   bill_length_mm     52 non-null     float64
 3   bill_depth_mm      52 non-null     float64
 4   flipper_length_mm  52 non-null     float64
 5   body_mass_g        52 non-null     float64
 6   sex                52 non-null     object
 7   year               52 non-null     int64
 8   mass_kg            52 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 4.1+ KB

In [45]:
(penguins[(penguins['island'] == 'Biscoe') & (penguins['species'])]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 168 entries, 20 to 275
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            168 non-null    object
 1   island             168 non-null    object
 2   bill_length_mm     168 non-null    float64
 3   bill_depth_mm      168 non-null    float64
 4   flipper_length_mm  168 non-null    float64
 5   body_mass_g        168 non-null    float64
 6   sex                168 non-null    object
 7   year               168 non-null    int64
 8   mass_kg            168 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 13.1+ KB

In [46]:
(penguins[(penguins['island'] == 'Dream') & (penguins['species'])]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 124 entries, 30 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            124 non-null    object
 1   island             124 non-null    object
 2   bill_length_mm     124 non-null    float64
 3   bill_depth_mm      124 non-null    float64
 4   flipper_length_mm  124 non-null    float64
 5   body_mass_g        124 non-null    float64
 6   sex                124 non-null    object
 7   year               124 non-null    int64
 8   mass_kg            124 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 9.7+ KB

<p style="font-size: 16px; color:blue;">INSIGHTS: As you can see from this information, Biscoe Island has the highest number of species, followed by Dream Island, while Torgersen Island has the fewest, with only 52 entries compared to the other two islands which have over a hundred entries.</p>

<h2>5. Which species has the least weight in kilograms?</h2>

In [47]:
penguins['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [62]:
(penguins[(penguins['species'] == 'Adelie') & (penguins['mass_kg'] <= 3.5)]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 59 entries, 2 to 148
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            59 non-null     object
 1   island             59 non-null     object
 2   bill_length_mm     59 non-null     float64
 3   bill_depth_mm      59 non-null     float64
 4   flipper_length_mm  59 non-null     float64
 5   body_mass_g        59 non-null     float64
 6   sex                59 non-null     object
 7   year               59 non-null     int64
 8   mass_kg            59 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 4.6+ KB

In [63]:
(penguins[(penguins['species'] == 'Gentoo') & (penguins['mass_kg'] <= 3.5)]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            0 non-null      object
 1   island             0 non-null      object
 2   bill_length_mm     0 non-null      float64
 3   bill_depth_mm      0 non-null      float64
 4   flipper_length_mm  0 non-null      float64
 5   body_mass_g        0 non-null      float64
 6   sex                0 non-null      object
 7   year               0 non-null      int64
 8   mass_kg            0 non-null      float64
dtypes: float64(5), int64(1), object(3)
memory usage: 0.0+ bytes

In [64]:
(penguins[(penguins['species'] == 'Chinstrap') & (penguins['mass_kg'] <= 3.5)]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, 276 to 340
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            21 non-null     object
 1   island             21 non-null     object
 2   bill_length_mm     21 non-null     float64
 3   bill_depth_mm      21 non-null     float64
 4   flipper_length_mm  21 non-null     float64
 5   body_mass_g        21 non-null     float64
 6   sex                21 non-null     object
 7   year               21 non-null     int64
 8   mass_kg            21 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 1.6+ KB

<p style="font-size: 16px; color:blue;">INSIGHTS: As you can see from the information, the Adelie species has the lowest average weight, followed by the Chinstrap, while the Gentoo has no individuals weighing less than 3.7 kg.</p>

<h2>6. What is the most common weight for Gentoo species?</h2>

In [69]:
gentoo_weight = penguins[(penguins['species'] == 'Gentoo')]
gentoo_weight

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
152,Gentoo,Biscoe,46.10000,13.20000,211.000000,4500.000000,female,2007,4.5
153,Gentoo,Biscoe,50.00000,16.30000,230.000000,5700.000000,male,2007,5.7
154,Gentoo,Biscoe,48.70000,14.10000,210.000000,4450.000000,female,2007,4.4
155,Gentoo,Biscoe,50.00000,15.20000,218.000000,5700.000000,male,2007,5.7
156,Gentoo,Biscoe,47.60000,14.50000,215.000000,5400.000000,male,2007,5.4
...,...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,male,2009,4.2
272,Gentoo,Biscoe,46.80000,14.30000,215.000000,4850.000000,female,2009,4.8
273,Gentoo,Biscoe,50.40000,15.70000,222.000000,5750.000000,male,2009,5.8
274,Gentoo,Biscoe,45.20000,14.80000,212.000000,5200.000000,female,2009,5.2
275,Gentoo,Biscoe,49.90000,16.10000,213.000000,5400.000000,male,2009,5.4

In [70]:
gentoo_weight['mass_kg'].mean()

np.float64(5.069354838709677)

<p style="font-size: 16px; color:blue;">INSIGHTS: As shown in this information, the most common weight for the Gentoo species is 5.0 kg.</p>

<h2>7. Which sex is the most dominant within each species?</h2>

In [56]:
(penguins[(penguins['species'] == 'Adelie') & (penguins['sex'] == 'male')]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 79 entries, 0 to 151
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            79 non-null     object
 1   island             79 non-null     object
 2   bill_length_mm     79 non-null     float64
 3   bill_depth_mm      79 non-null     float64
 4   flipper_length_mm  79 non-null     float64
 5   body_mass_g        79 non-null     float64
 6   sex                79 non-null     object
 7   year               79 non-null     int64
 8   mass_kg            79 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 6.2+ KB

In [57]:
(penguins[(penguins['species'] == 'Adelie') & (penguins['sex'] == 'female')]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 73 entries, 1 to 150
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            73 non-null     object
 1   island             73 non-null     object
 2   bill_length_mm     73 non-null     float64
 3   bill_depth_mm      73 non-null     float64
 4   flipper_length_mm  73 non-null     float64
 5   body_mass_g        73 non-null     float64
 6   sex                73 non-null     object
 7   year               73 non-null     int64
 8   mass_kg            73 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 5.7+ KB

In [58]:
(penguins[(penguins['species'] == 'Gentoo') & (penguins['sex'] == 'male')]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 66 entries, 153 to 275
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            66 non-null     object
 1   island             66 non-null     object
 2   bill_length_mm     66 non-null     float64
 3   bill_depth_mm      66 non-null     float64
 4   flipper_length_mm  66 non-null     float64
 5   body_mass_g        66 non-null     float64
 6   sex                66 non-null     object
 7   year               66 non-null     int64
 8   mass_kg            66 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 5.2+ KB

In [59]:
(penguins[(penguins['species'] == 'Gentoo') & (penguins['sex'] == 'female')]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 152 to 274
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            58 non-null     object
 1   island             58 non-null     object
 2   bill_length_mm     58 non-null     float64
 3   bill_depth_mm      58 non-null     float64
 4   flipper_length_mm  58 non-null     float64
 5   body_mass_g        58 non-null     float64
 6   sex                58 non-null     object
 7   year               58 non-null     int64
 8   mass_kg            58 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 4.5+ KB

In [60]:
(penguins[(penguins['species'] == 'Chinstrap') & (penguins['sex'] == 'male')]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 277 to 342
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            34 non-null     object
 1   island             34 non-null     object
 2   bill_length_mm     34 non-null     float64
 3   bill_depth_mm      34 non-null     float64
 4   flipper_length_mm  34 non-null     float64
 5   body_mass_g        34 non-null     float64
 6   sex                34 non-null     object
 7   year               34 non-null     int64
 8   mass_kg            34 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 2.7+ KB

In [61]:
(penguins[(penguins['species'] == 'Chinstrap') & (penguins['sex'] == 'female')]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 276 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            34 non-null     object
 1   island             34 non-null     object
 2   bill_length_mm     34 non-null     float64
 3   bill_depth_mm      34 non-null     float64
 4   flipper_length_mm  34 non-null     float64
 5   body_mass_g        34 non-null     float64
 6   sex                34 non-null     object
 7   year               34 non-null     int64
 8   mass_kg            34 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 2.7+ KB

<p style="font-size: 16px; color:blue;">INSIGHTS: As you can see from this information, it shows that in all species, there are more males than females, making males the dominant sex.</p>